// default browser fontSize
$font-size: 16px;

// Colors
$black: #000000;
$white: #ffffff;

$black-lite: #333637;
$grey: #fcfcfc;
$dark-grey: #857f7f;

$primary: #ec7430;
$secondary: #ecf3f5;

$error: rgba(255, 0, 0, 0.486);
