.productCard {
  padding: 1.5rem 2rem;
  background-color: $secondary;
  border-radius: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  cursor: pointer;

  width: 100%;
  transition: all 200ms ease-in-out;

  gap: 1rem;

  &-img {
    position: relative;

    img {
      height: 200px;
      width: 100%;
      object-fit: contain;
      transition: transform 300ms ease-in-out;

      z-index: 2;
      position: relative;
    }

    &::after {
      position: absolute;
      content: "";
      top: 15%;
      left: 15%;
      transform: translate(-8%, 0%) rotate(75deg);
      width: 80%;
      height: 80%;
      border-radius: 20%;
      background-color: #e0ebee;
      z-index: 0;
    }
  }

  &-details {
    width: 100%;
    color: $black-lite;

    p {
      text-transform: capitalize;
    }

    h5 {
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    h4 {
      color: $primary;

      span {
        padding-left: 0.2rem;
        font-size: 0.9rem;
        color: $dark-grey;
        text-decoration: line-through;
      }
    }
  }

  &:hover {
    img {
      transform: scale(1.05);
    }
  }
}
