.container {
  min-height: 100vh;

  display: flex;
  width: 100%;
  gap: 1rem;

  &-left {
    width: 430px;
  }

  &-right {
    flex: 1;
    overflow-y: "auto";
  }
}

.home {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;

  &-details {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
