.productList {
  height: 100%;
  padding: 2rem;
  background-color: $grey;

  max-height: 100%;

  h2 {
    margin-bottom: 1.5rem;
  }

  &-wrapper {
    display: grid;
    grid-template-columns: 1fr;

    gap: 1rem;
  }

  &-showMore {
    padding-top: 1rem;
  }

  &-center {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    button {
      width: 100%;
    }
  }

  @media (min-width: 512px) {
    &-wrapper {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (min-width: 768px) {
    &-wrapper {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media (min-width: 1366px) {
    max-height: 100vh;

    overflow-y: auto;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }

    &-wrapper {
      display: flex;
      flex-direction: column;

      gap: 1rem;
    }
  }
}
